html {
  font-family: Helvetica;
  background-color: white;
  text-align: center;
}


/* Headers of the page */
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  color: white;
}

ul {
  list-style-type: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  line-height: 36px;
}

/* Style for header */
.header {
  background-image: url("../img/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: right;
}

/* Style for separator */
.separator {
  background-image: url("../img/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: right;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

/* Style for CopyRight footer */
.footer {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
